* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #CAD5E2;
}

.btn-wrapper {
    position: absolute;
    top: 50%;
    left: 45%;
}

.btn {
    padding: 10px 20px;
    background-color: #03203C;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px #000000;
}

.btn-text-two {
    display: none;
}
